[submodule "Sunfire/vendor/spdlog"]
	path = Sunfire/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sunfire/vendor/GLFW"]
	path = Sunfire/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
